{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://sandbox.api.myinfo.gov.sg",
      "description": "Sandbox"
    },
    {
      "url": "https://test.api.myinfo.gov.sg",
      "description": "Test"
    },
    {
      "url": "https://api.myinfo.gov.sg",
      "description": "Production"
    }
  ],
  "info": {
    "version": "3.2.0",
    "title": "MyInfo API (for Government Digital Services only)",
    "x-logo": {
      "url": "https://public.cloud.myinfo.gov.sg/images/logo/myinfo-logo.png"
    },
    "description": "MyInfo REST APIs for retrieving Person data (for Government Digital Services only).\n\n**Note - this specification is subject to changes based on evolution of the APIs.**\n\n# Release Notes\n* **3.2.0 (7 Jun 2021)**\n  - **Data Items**\n    - New:\n      - partialuinfin\n      - academicqualifications\n      - cpfhousingwithdrawal\n    - Deprecated:\n      - mailadd\n      - billadd\n      - homeno\n      - edulevel\n      - gradyear\n      - schoolname\n      - householdincome\n    - Updated:\n      - Type enum for regadd (Unformatted to UNFORMATTED)\n      - Description of SG Address Block to 'Block/House of Address'\n      - Description for cpfcontributions to maximum of 15 months records\n      - marriagecertno to maximum 50 characters\n      - Local phone number default to '65'\n      - Employment Sectors of workpass to upper case, remove enumeration and provide examples of possible values \n      - Value of dob updated to include potential formats 'YYYY' and 'YYYY-MM'\n  - **Security**\n    - Certificate Authority list\n      - Comodo to Comodo/Sectigo\n      - New CA: Netrust\n    - Network\n      - Updated TLS version to only 1.2\n      - Updated recommended cipher suites\n  - **Features**\n    - Deprecated person-basic API\n    - Deprecated authorise API that takes in UINFIN\n    - New authorise API that redirects to SingPass for login\n\n* **3.1.1 (12 Jun 2020)**\n  - Update documentation for person-basic and person.\n\n* **3.1.0 (7 Oct 2019)**\n  - New data items available:\n    - merdekagen\n    - gstvoucher\n    - silversupport\n    - cpfemployers - Person(Full Profile) API\n  - Update txn_no to txnNo\n  - Include {uinfin} path parameter for Authorise (Full Profile) API\n\n* **3.0.3 (26 Jul 2019)**\n  - Include the missing query parameter `sp_esvcId` into Person(Full Profile) API\n  - Update Request sample code for Person-Basic API and Person(Full Profile) API\n  - Update Request Signing sample code\n\n* **3.0.2 (09 Jul 2019)**\n  - `housingtype` & `hdbtype`\n    - Provide clarity on the handling of these two fields.\n\n* **3.0.1 (10 May 2019)**\n  - Upper case all desc values for:\n    - Driving Licence : Comstatus, PDL and QDL Validity\n    - Children Birth Records: Sex\n    - Sponsored Children Records: Sex, Residential Status\n    - Person: Sex, Residential Status\n\n* **3.0.0 (26 Apr 2019)**\n\n  **IMPORTANT NOTE:** response format for `person` and `person-basic` API has substantial changes from the previous version. Please refer to [Understanding the Data Structure](#section/Understanding-the-Data-Structure-(NEW-in-v3)) for details.\n\n  - APIs updated to v3:\n    - Test:\n      - https://test.api.myinfo.gov.sg/gov/v3/authorise\n      - https://test.api.myinfo.gov.sg/gov/v3/token\n      - https://test.api.myinfo.gov.sg/gov/v3/person/{uinfin}/\n      - https://test.api.myinfo.gov.sg/gov/v3/person-sample/{uinfin}/\n    - Production:\n      - https://api.myinfo.gov.sg/v3/authorise\n      - https://api.myinfo.gov.sg/v3/token\n      - https://api.myinfo.gov.sg/v3/person/{uinfin}/\n  - Response changes from JWE to JWE wrapping JWS\n  - Security header (changes in Authorization header parameters)\n    - Streamline header parameters to app_id, nonce, signature_method (RS256), signature, timestamp\n  - Standardisation of 'code', 'desc' and 'value' of all data items.\n  - New data items available:\n    - employmentsector\n    - passtype\n    - hdbownership\n    - sponsoredchildrenrecords\n    - vehicles\n    - drivinglicence\n  - Rename data items:\n    - workpassstatus -> passstatus\n    - workpassexpirydate -> passexpirydate\n  - Changes to the following data item to include \"type\" discriminator to discriminate local and foreign address. Format is significantly different between the two.\n    - regadd\n    - billadd\n    - mailadd\n  - Removed `serialno` from `pdl` and `qdl` under `drivinglicence` as it is not in use.\n  - Deprecated vehno attribute\n  - Updated description for [Understanding the Data Structure](/#section/Understanding-the-Data-Structure-(NEW-in-v3))\n  - Updated scheduled downtimes: sandbox and test enviroments will no longer have any scheduled downtimes.\n\n\n* **2.1.0 (01 July 2018)**\n  - \"relationship\" data item is deprecated\n  - New data items available:\n    - childrenbirthrecords\n    - marriagecertno\n    - countryofmarriage\n    - workpassstatus\n    - workpassexpirydate\n\n\n## Releases and Compatibility\nThe RESTful API adopts __Semantic Versioning 2.0.0__ for releases, and every new release of the API increments the version numbers in the following format:\n```\n{MAJOR}.{MINOR}.{PATCH}\n```\n\n1. `{MAJOR}` number introduces incompatible API changes with previous `{MAJOR}` number also resets `{MINOR}` to `0`,\n2. `{MINOR}` number introduces new functionalities or information that are backward compatible also resets `{PATCH}` to `0`, and\n3. `{PATCH}` number introduces bug fixes and remains backward compatible.\n\nPre-release or draft versions, when provided, are denoted by appended hypen `-` with a series of separate identifiers `{LABEL}-{VERSION}` following the `{PATCH}` number. Such releases are unstable and may not provide the intended compatibility with the specification in draft status.\n\nServing as notice, the RESTful API in version `2.X.X` are incompatible with version `1.X.X` releases.\n\nDespite backward compatibility in `{MINOR}` or `{PATCH}` releases, API consumers are best to evaluate and determine their implementation does not disrupt use-case requirements.\n\n# Overview\nMyInfo has 2 types of APIs for government:\n  1. Person-Basic (Deprecated)\n  2. Person\n\nYou can choose either one to integrate with depending on your digital service implementation.\n\n## 1. Person-Basic (Deprecated)\n    - This API will only return basic profile information\n    - The following information will not be available: **CPF and IRAS information**\n    - This API does not require consent from user, however, it requires a valid SingPass login by your digital service\n    - See Person-Basic API specifications for more details\n\n<br>\n\nThe following diagram illustrates how the integration with MyInfo APIs work for Person-Basic:\n![Overview](https://public.cloud.myinfo.gov.sg/images/myinfo-person-basic-spsaml-overview.png \"MyInfo Person-Basic API Overview\")\n\n**NOTE:**\n  - MyInfo will do a backend check with SingPass to verify that there is a valid SingPass login for your digital service.\n  - It is required to provide the SingPass e-Service ID (`sp_esvcId`) you onboarded with SingPass.\n\n<br>\n\n## 2. Person\n    - This API contains the full set of information of a person\n    - This API requires consent from user and uses OAuth2.0 APIs, namely:\n      - a. [Authorise](/#operation/getauthorise)\n      - b. [Token](/#operation/gettoken)\n      - c. [Person](/#operation/getperson)\n\n      See [OAuth2.0](/#section/Security/OAuth2.0) section for more details on how to use the 3 APIs.\n\nThe following diagram illustrates how the integration with MyInfo APIs work for Person:\n![Overview](https://public.cloud.myinfo.gov.sg/images/myinfo-rebrand-overview.png \"MyInfo Person API Overview\")\n\nAs shown above, your application will be interfacing with our API Gateway to integrate successfully with MyInfo.\n\n# Environments\n\nThe RESTful APIs are provided in both testing and live environments, and are accessible over the __Internet__ via HTTPS.\n\nConsumers are to ensure firewall clearance on their edge network nodes for connecting to the APIs.\n\nThe convention used by API endpoints' URLs is in the following format:\n\n```\nhttps://{ENV_DOMAIN_NAME}/{CONTEXT}/{VERSION}/{RESOURCE}\n```\n\n* `{ENV_DOMAIN_NAME}` indicates MyInfo's API domain names - respectively:\n  * `sandbox.api.myinfo.gov.sg`, or\n  * `test.api.myinfo.gov.sg`, or\n  * `api.myinfo.gov.sg`, following\n\n* `/{CONTEXT}`, indicates the context of the API call = `/gov`\n* `/{VERSION}` indicates the endpoint's release `{MAJOR}` version number path - for this release = `/v3`\n* `/{RESOURCE}` indicates the API resource path name.\nAny additional query string parameters are appended as needed.\n\n## Available Environments\n\n### 1. Sandbox Environment\nThe sandbox environment is used for your testing when developing your prototype. The Person-Sample and Person API will return test data described in https://api.singpass.gov.sg/library/myinfo/developers/resources-personas.\n#### Note:\n  - Domain Name: `sandbox.api.myinfo.gov.sg`\n  - PKI digital signature is **not required** for all APIs.\n  - Authorization Bearer access token is **not required** in Person-Sample API.\n  - Authorization Bearer access token is **not required** in Person-Basic API.\n  - Authorization Bearer access token **is required** in Person API.\n\n\n### 2. Test Environment\nThe test enviroment is used for testing your application with the full security measures required in production. The Person API will return test data described in https://api.singpass.gov.sg/library/myinfo/developers/resources-personas.\n#### Note:\n  - Domain Name: `test.api.myinfo.gov.sg`\n  - PKI digital signature **is required** for Token and Person APIs. <br>Refer to Security > Request Signing for the steps to sign your request.\n  - Authorization Bearer access token is **not required** in Person-Basic API.\n  - Authorization Bearer access token **is required** in Person API.\n\n\n### 3. Production Environment\nThe production enviroment is the actual live environment with full security measures and live data.\n#### Note:\n  - Domain Name: `api.myinfo.gov.sg`\n  - PKI digital signature **is required** for Token and Person APIs. <br>Refer to Security > Request Signing for the steps to sign your request.\n  - Authorization Bearer access token is **not required** in Person-Basic API.\n  - Authorization Bearer access token **is required** in Person API.\n\n\n\n## Scheduled Downtimes\nThe following are the scheduled downtimes for the various environments:\n\n### Production Environment\n* **CPFB data** - Everyday 5:00am to 5:30am\n* **IRAS data** - Every Wed, 2:00am to 6:00am, Every Sun, 2:00am to 8:30am\n* **Once a month**, Sunday 12:00 am to 8:00 am (date to be advised)\n\n### Test Environment\n* none\n\n### Sandbox Environment\n* none\n\n\n# Security\n## HTTPS Interface\n\nMyInfo's API gateway supports accessing of APIs via the following interfaces:\n\n* HTTP version 1.1 connection over __TLS__ (Transport Layer Security) version __1.2__ standards, and cipher suites:\n  * using __AES__ (Advanced Encryption Standard) and __SHA__ (Secure Hash Algorithm),\n  * on either __GCM__ (Galois/Counter Mode) or __CBC__ (Cipher Block Chaining) mode.\n* Below is the list of recommended cipher suites that you may use:\n\n  * TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\n  * TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256\n  * TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\n  * TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384\n\n> **IMPORTANT:** ensure your server supports **TLS 1.2** and supports a cipher suite in the list above.\n\nAccessing the RESTful APIs using prior versions of TLS and/or unsupported ciphersuites will result in connectivity errors. MyInfo's API gateway does not support 2-way TLS client nor mutual authentication.\n\nAPI HTTP interface features:\n\n1. __JSON__ (JavaScript Object Notation) is the supported data media format and indicated in `Content-Type` header `application/json`, also\n2. `Content-Length` header is omitted by having `Transfer-Encoding` header `chunked` emitted for streaming data, and\n3. __GZip__ (GNU Zip) response compression is supported by opt-in `Accept-Encoding: gzip` and indicated in `Content-Encoding` header `gzip`.\n\n## OAuth2.0\nMyInfo APIs use OAuth2.0 authorisation code flow to perform authentication & authorisation.\n\nThe sequence diagram below illustrates the steps involved in integrating your application with our APIs:\n\n![OAuth](https://public.cloud.myinfo.gov.sg/images/myinfo-sequence-diagram.png)\n\nThe flow consists of 3 APIs:\n1. **Authorise**\n    * This will trigger the SingPass login and consent page. Once successful, your application will receive the **authorisation code** via your callback url.\n\n2. **Token**\n    * Call this server-to-server API with a valid **authorisation code** to get the **access token**.\n\n3. **Protected Resource (Person)**\n    * Call this server-to-server API with a valid  **access token** to get the person data.\n\n\n## Application Authentication\n\nAccess to all server-to-server APIs will be authenticated by MyInfo's API gateway.\nPrior to calling the APIs, respective consumers are required to have:\n\n* approval of access, onboarding process for the required API resources will be provisioned, and\n* authentication credentials are then supplied and exchanged.\n\nAuthentication methods provided by MyInfo's API gateway on internet:\n\n* OAuth 2.0 using `RS256` digital signature (see \"**Request Signing**\" section below)\n* Digital signature should be produced using a RSA private key with corresponding public certificate issued by one of the following compatible CAs:\n  * Comodo/Sectigo\n  * digiCert\n  * Entrust\n  * GeoTrust\n  * GlobalSign\n  * Netrust\n  * Thawte\n  * VeriSign\n\n\n\n## Request Signing\n**NOTE: Test and Production Environments only**<br><br>\nAll server-to-server API requests are to be digitally signed, by including the following parameters and values in the `Authorization` header:\n\n```\nPKI_SIGN app_id=\"{app_id}\",\nnonce=\"{random_nonce}\",\nsignature_method=\"RS256\",\nsignature=\"{base64_url_percent_encoded_signature}\",\ntimestamp=\"{unix_epoch_in_milliseconds}\"\n```\n\n*__Note__: Above sample is separated by lines for ease-of-reading, and new-line denotations are to be omitted in the actual request.*\n\n* `{app_id}` is the APP ID credential supplied upon onboarding,\n* `{random_nonce}` is an unique randomly generated text used for replay prevention,\n* `{signature_method}` is the signature algorithm of the authenticating gateway.\n\n  * Value of __signature_method__ = `RS256`\n\n* `{base64_url_percent_encoded_signature}` is the binary of the generated signature encoded in __Base64__ URL-safe format,\n* `{unix_epoch_in_milliseconds}` is the UNIX epoch time in milliseconds\n\n\n### Sample header with authorization parameters\nBelow is an example of an Authorization header for the sample application. Make sure you list the parameters in the sequence shown below.\n```\n  Authorization: PKI_SIGN\n  app_id=\"STG2-MYINFO-SELF-TEST\",\n  nonce=\"150590021034800\",\n  signature_method=\"RS256\",\n  signature=\"EEm+HEcNQajb5FkVd82zjojk+daYZXxSGPCOR2GHZeoyjZY1PK+aFMzHfWu7eJZYMa5WaEwWxdOdq5hjNbl8kHD7bMaOks7FgEPdjE++TNomfv7SMktDnIvZmPYAxhjb/C9POU2KT6tSlZT/Si/qMgD1cryaPwSeMoM59UZa1GzYmqlkveba7rma58uGwb3wZFH0n57UnouR6LYXDOOLkqi8uMZBuvRUvSJRXETAj2N0hT+4QJiN96Ct6IEQh/woZh0o74K5Ol9PpDSM08qC7Lj6N/k694J+hbBQVVviGn7/6mDkfbwdMDuoKs4t7NpqmAnwT+xaQSIZcexfrAVQYA==\",\n  timestamp=\"1505900210349\"\n```\n\n\n### Sample Code in `NodeJS`\n```\n  // generates the security headers for calling API gateway\n  function generateAuthorizationHeader(url, params, method, strContentType, authType, appId, keyCertContent, passphrase) {\n    if (authType == \"L2\") {\n      return generateSHA256withRSAHeader(url, params, method, strContentType, appId, keyCertContent, passphrase);\n    }\n    else {\n      return \"\";\n    }\n  };\n\n  // Signing Your Requests\n  function generateSHA256withRSAHeader(url, params, method, strContentType, appId, keyCertContent, keyCertPassphrase) {\n    var nonceValue = nonce();\n    var timestamp = (new Date).getTime();\n\n    // A) Construct the Authorisation Token\n    var defaultApexHeaders = {\n      \"app_id\": appId, // App ID assigned to your application\n      \"nonce\": nonceValue, // secure random number\n      \"signature_method\": \"RS256\",\n      \"timestamp\": timestamp // Unix epoch time\n    };\n\n    // Remove params unless Content-Type is \"application/x-www-form-urlencoded\"\n    if (method == \"POST\" && strContentType != \"application/x-www-form-urlencoded\") {\n      params = {};\n    }\n\n    // B) Forming the Signature Base String\n\n    // i) Normalize request parameters\n    var baseParams = sortJSON(_.merge(defaultApexHeaders, params));\n\n    var baseParamsStr = qs.stringify(baseParams);\n    baseParamsStr = qs.unescape(baseParamsStr);\n\n    // ii) construct request URL ---> url is passed in to this function\n\n    // iii) concatenate request elements\n    var baseString = method.toUpperCase() + \"&\" + url + \"&\" + baseParamsStr;\n\n    console.log(\"Formulated Base String\".green);\n    console.log(\"Base String generated by your application that will be signed using your private key.\".grey);\n    console.log(baseString);\n\n    // C) Signing Base String to get Digital Signature\n    var signWith = {\n      key: fs.readFileSync(keyCertContent, 'utf8')\n    };\n\n    if (!_.isUndefined(keyCertPassphrase) && !_.isEmpty(keyCertPassphrase)) _.set(signWith, \"passphrase\", keyCertPassphrase);\n\n    // Load pem file containing the x509 cert & private key & sign the base string with it.\n    var signature = crypto.createSign('RSA-SHA256')\n      .update(baseString)\n      .sign(signWith, 'base64');\n\n    console.log(\"Digital Signature:\".green);\n    console.log(\"Signature produced by signing the above Base String with your private key.\".grey);\n    console.log(signature);\n\n\n    // D) Assembling the Header\n    var strApexHeader = \"PKI_SIGN timestamp=\\\"\" + timestamp +\n      \"\\\",nonce=\\\"\" + nonceValue +\n      \"\\\",app_id=\\\"\" + appId +\n      \"\\\",signature_method=\\\"RS256\\\"\" +\n      \",signature=\\\"\" + signature +\n      \"\\\"\";\n\n    return strApexHeader;\n  };\n\n\n```\n\n## Token Validation\n**NOTE: Person APIs only**<br><br>\nAccess Tokens are in JWT format. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523). You will need to verify the token with our public cert (provided during application onboarding).\n### Sample Code in `NodeJS`\n```\n  // Sample Code for Verifying & Decoding JWS or JWT\n  function verifyJWS(jws, publicCert) {\n    // verify token\n    // ignore notbefore check because it gives errors sometimes if the call is too fast.\n    try {\n      var jwspayload = jwt.verify(jws, fs.readFileSync(publicCert, 'utf8'), {\n        algorithms: ['RS256'],\n        ignoreNotBefore: true\n      });\n      return jwspayload;\n    }\n    catch(error) {\n      throw(\"Error with verifying and decoding JWS\");\n    }\n  }\n\n```\n\n## Payload Signing and Encryption (Person)\n**NOTE: Person APIs in Test and Production environments only**<br><br>\nThe response payload for the **Person** API (for test and production environments) is first signed, then encrypted:\n  - Signing is done using [**JWS (JSON Web Signature)**](https://tools.ietf.org/html/rfc7515) format\n  - Encryption is done using [**JWE (JSON Web Encryption) Compact Serialization**](https://tools.ietf.org/html/rfc7516) format\n\nEncryption protects the data at rest while a signed payload means, if necessary, you will be able to pass this signed payload to a 3rd party where they can verify the payload's integrity with our public certificate.\n\nIn order to read the payload, you have to perform the following steps in order:\n  1. Decrypt the payload with your application's private key.\n  2. Validate the decrypted payload signature with our public key.\n\n\nAfter doing the above steps, your application will be able to extract the payload in JSON format.\n### STEP 1: Decryption\n* Encryption is done using your application's public key that you provided during onboarding. Decryption of the payload should be using the private key of that key-pair.\n* Current encryption algorithms used:\n  * **RSA-OAEP** (for content key wrapping)\n  * **AES256GCM** (for content encrytion)\n\n\n### Sample Code in `NodeJS`\n```\n  // Sample Code for decrypting JWE\n  // Decrypt JWE using private key\n  function decryptJWE(header, encryptedKey, iv, cipherText, tag, privateKey) {\n\n    return new Promise((resolve, reject) => {\n\n      var keystore = jose.JWK.createKeyStore();\n\n      var data = {\n        \"type\": \"compact\",\n        \"ciphertext\": cipherText,\n        \"protected\": header,\n        \"encrypted_key\": encryptedKey,\n        \"tag\": tag,\n        \"iv\": iv,\n        \"header\": JSON.parse(jose.util.base64url.decode(header).toString())\n      };\n      keystore.add(fs.readFileSync(privateKey, 'utf8'), \"pem\")\n        .then(function(jweKey) {\n          // {result} is a jose.JWK.Key\n          jose.JWE.createDecrypt(jweKey)\n            .decrypt(data)\n            .then(function(result) {\n              resolve(JSON.parse(result.payload.toString()));\n            })\n            .catch(function(error) {\n              reject(error);\n            });\n        });\n\n    })\n    .catch (error => {\n      throw \"Error with decrypting JWE\";\n    })\n  }\n\n```\n\n### STEP 2: Verification of Signature\nThe decrypted payload is signed according to [**JWS (JSON Web Signature)**](https://tools.ietf.org/html/rfc7515) format, similar to the access token.\n  - signature algorithm used is `RS256`.\n\n#### Sample Code in `NodeJS`\n```\n  // Sample Code for Verifying & Decoding JWS or JWT\n  function verifyJWS(jws, publicCert) {\n    // verify payload\n    // ignore notbefore check because it gives errors sometimes if the call is too fast.\n    try {\n      var jwspayload = jwt.verify(jws, fs.readFileSync(publicCert, 'utf8'), {\n        algorithms: ['RS256'],\n        ignoreNotBefore: true\n      });\n      return jwspayload;\n    }\n    catch(error) {\n      throw(\"Error with verifying and decoding JWS\");\n    }\n  }\n\n```\n\n# Understanding the Data Structure (NEW in v3)\nMyInfo Person data follows a specific structure that you need to understand to traverse the data effectively. This section will explain the structure in detail.\n\nThe diagram below illustrates how the data is represented logically:<br>\n![MyInfo Person Data Structure](https://public.cloud.myinfo.gov.sg/images/myinfo-person-data-structure.png \"MyInfo Person Data Structure\")\n\n## Data Items (Top-Level)\nEach top-level data item can either be a **data item object** or an array of **data item objects**.\nEach **data item object** will consist of the following properties:\n  - `classification` (Data classification of data field. Default 'C' - Confidential)\n  - `source` (see below)\n  - `lastupdated` (Last updated date of data field. See \"full-date\" [here](http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14))\n  - `unavailable` (in certain situations - see below)\n  - additional data properties containing data values or arrays\n\n\n### Data Source\n\n  The `source` property indicates the source of data. Possible values are:\n  * '1' - Government-Originated\n  * '2' - User provided\n  * '3' - Field is Not Applicable to Person\n  * '4' - Verified by SingPass\n\n\n  **Note:** All Government-Originated fields must be non-editable on your digital service form (some exceptions apply - see individual field descriptions).\n\n\n### Data Not Applicable\nSometimes, a requested data item is not applicable to the person. Examples include:\n  - a foreigner will never have a `regadd` data item.\n  - a singapore citizen or permanent resident will never have `passtype` data item.\n\nFor a full list, refer to the \"Data Catalog\" section of [MyInfo API Data](https://api.singpass.gov.sg/library/myinfo/business/implementation-myinfo-data) in our portal.\n\n**Note:** When a requested data item is **not applicable** to the person, the `source` property will be **3**. In such cases, please ignore the data item completely.\n\n### Data Unavailable\nIn other situations, a requested data item might not have any data for that data item from the data source; i.e. data is **unavailable**. Examples include:\n  - when a person does not have any CPF contributions in the last 15 months\n  - when a person does not have any IRAS Notice of Assessments in the last 3 years\n  - when a person does not have any vehicles registered under them\n\n\n**Note**: When a requested data item is **unavailable**:\n  - for data item objects, the data item will have the property `unavailable` with value **true**.<br>\n    In such cases, no additional properties (other than `classification`, `source`, and `lastupdated`) will be provided for the data item.\n  - for arrays of data items, an empty array will be returned.\n\nPlease display as \"Not Available\" in your form.\n\n**Note:** Unavailable is not the same as empty value (\"\"). Empty value means that the value exists and is empty.\n\n## Data Properties\nIn each data item, there can be multiple data properties or arrays of data properties.\n\nEach data property will contain either:\n  - a `value` property, or\n  - a pair of `code` and `desc` properties, or\n  - an array of data properties, or\n  - other data properties\n\n\n**Note:**\n  - `value` property can be strings, numbers, or dates.\n  - `code` and `desc` pairs will contain the code and its matching description.\n  - `value` is mutually exclusive from (`code` + `desc`); i.e. if there is a `value`, there will not be any `code` or `desc`.\n  - Where there is `code`, there will always be a `desc` - no `value` will be present.\n\n\n**Exceptions:** For these cases, the values will be directly in the property and not in a `value`, `code` or `desc` subproperty:\n  - for data item metadata properties; e.g. `classification`, `source`, `lastupdated`, and `unavailable`\n  - for discriminator properties; e.g. `type` in address formats\n\n\n# Error Handling\n\nThe RESTful APIs used HTTP specification standard status codes to indicate the success or failure of each request. Except gateway errors, the response content will be in the following JSON format:\n\n```\n{\n    \"code\": \"integer (int32)\",\n    \"message\": \"string\"\n}\n```\n> **Refer to the individual API definitions for the error codes you might encounter for each API.**\n\n\n# Support\nPlease refer to the [NDI {api} Portal](https://api.singpass.gov.sg/) for the following supporting materials where relevant:\n- [MyInfo demo app](https://github.com/ndi-trusted-data/myinfo-demo-app)\n- [Code reference tables](https://api.singpass.gov.sg/assets/api-lib/myinfo/downloads/myinfo-api-code-tables.xlsx)\n- [Test accounts for test environments](https://api.singpass.gov.sg/library/myinfo/developers/resources-personas)\n- [Reference user journey templates](https://api.singpass.gov.sg/library/myinfo/business/implementation-reference-journey)\n\n\nFor technical queries, contact [support@myinfo.gov.sg](mailto:support@myinfo.gov.sg).\n\nFor business queries, contact [partner@myinfo.gov.sg](mailto:partner@myinfo.gov.sg).\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "tags": [
    {
      "name": "MyInfo",
      "description": "RESTful API Definitions"
    }
  ],
  "x-tagGroups": [
    {
      "name": "API Definitions",
      "tags": [
        "MyInfo"
      ]
    }
  ],
  "paths": {
    "/gov/v3/person-sample/{uinfin}/": {
      "get": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Person-Sample",
        "description": "Retrieves a sample Person data from MyInfo based on UIN/FIN.\n\nThis API does not use OAuth2.0 to perform authentication or authorisation, and does not require authorisation token and digital signature.\n\n**Note:** Null value indicates that an attribute is unavailable.",
        "servers": [
          {
            "url": "https://sandbox.api.myinfo.gov.sg/",
            "description": "Sandbox"
          }
        ],
        "operationId": "getpersonsample",
        "parameters": [
          {
            "in": "path",
            "name": "uinfin",
            "required": true,
            "schema": {
              "type": "string",
              "example": "S9203266C"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "name,hanyupinyinname"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl https://sandbox.api.myinfo.gov.sg/gov/v3/person-sample/S9203266C"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n\n**Note:**\n- Response will be a JSON object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            },
            "example": null
          }
        }
      }
    },
    "/gov/v3/person-basic/{uinfin}/": {
      "get": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Person-Basic",
        "deprecated": true,
        "description": "**NOTE: This API is for basic profile retrieval only (no financial data)**\n\nRetrieves a Person data from MyInfo based on UIN/FIN.\n\n**Note:** Excluding CPF and IRAS data, such as:\n  * ownerprivate\n  * assessableincome\n  * assessyear\n  * cpfcontributions\n  * cpfbalances\n\nThis API does not use OAuth2.0 to perform authentication or authorisation. Digital signature however is required.\n\nAgencies are to ensure that session management of their eservice is properly handled, and only provide the NRIC of user who is currently logged on to the \neService when calling the API.\n\nAgencies should also implement control measures to disallow multiple calls to this API for the same user when an existing previous call is has not completed.\n\nIn the event where the API is unavailable, agencies eServices are to provide alternative e.g. manual input, in order for user to continue with the transaction.\n\n**Note:** Null value indicates that an attribute is unavailable.",
        "operationId": "getpersonbasic",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Add authorization token constructed containing the RSA digital signature of the base string.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sp_esvcId",
            "description": "SingPass eService ID that the user is accessing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "txnNo",
            "description": "Transaction ID from requesting digital services for cross referencing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "uinfin",
            "required": true,
            "schema": {
              "type": "string",
              "example": "S9203266C"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.\n\n**Note:** Excluding ownerprivate, noa, noa-basic, noahistory, noahistory-basic, cpfemployers, cpfcontributions and cpfbalances.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "name,hanyupinyinname"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "// function to prepare request for PERSON or PERSON-BASIC API\n// IMPORTANT: validToken is NOT required (validToken = null)\nfunction createPersonRequest(url, uinfin, _sp_esvcId, attributes, validToken) {\n\n  var url = url + \"/\" + uinfin + \"/\";\n  var cacheCtl = \"no-cache\";\n  var method = \"GET\";\n\n  // assemble params for Person API\n  var strParams = \"client_id=\" + _clientId +\n    \"&attributes=\" + attributes +\n    \"&sp_esvcId=\" + _sp_esvcId;\n\n  var params = querystring.parse(strParams);\n\n  // assemble headers for Person API\n  var strHeaders = \"Cache-Control=\" + cacheCtl;\n  var headers = querystring.parse(strHeaders);\n\n  // Add Authorisation headers for connecting to API Gateway\n  var authHeaders = securityHelper.generateAuthorizationHeader(\n    url,\n    params,\n    method,\n    \"\", // no content type needed for GET\n    _authLevel,\n    _clientId,\n    _privateKeyContent,\n    _clientSecret\n  );\n\n  // NOTE: include access token in Authorization header as \"Bearer \" (with space behind)\n  if(!_.isEmpty(validToken)){\n    if(!_.isEmpty(authHeaders)){\n      authHeaders = authHeaders + \",Bearer \" + validToken\n    }\n    else{\n      authHeaders = \"Bearer \" + validToken\n    }\n  }\n\n  if (!_.isEmpty(authHeaders)) {\n    _.set(headers, \"Authorization\", authHeaders);\n  }\n\n  // invoke person API\n  var request = restClient.get(url);\n\n  // Set headers\n  if (!_.isUndefined(headers) && !_.isEmpty(headers))\n    request.set(headers);\n\n  // Set Params\n  if (!_.isUndefined(params) && !_.isEmpty(params))\n    request.query(params);\n\n  return request;\n}\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n\n**Note:**\n- Response Content-Encoding will be 'gzip'.\n- Response Content-Type will be 'application/jose', which is a JSON object conforming to the JWE standard (https://tools.ietf.org/html/rfc7516).\n- Your application should decrypt the signature with your application's private key.\n- After decrypting the signature, your application will be able to extract the payload in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonBasic"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This could be due to the scenarios below:\n\n- **SCENARIO 1:** Requested 'uinfin' does not match the 'uinfin' of the person who logged in. When requesting for Person A's data, Person A must be already logged in with SingPass.\n\n\n- **SCENARIO 2:** Request contains attributes that are not allowable for the digital service. This happens when you request for attributes that are not allowed for your application. The list of allowable attributes for your application are preconfigured during the onboarding process.\n\n\n- **SCENARIO 3:** User's allowed transaction window exceeded.\n\nDetails will be given in the error object returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Digital service is not registered with MyInfo.\n\n**MESSAGE:** 'Digital Service is invalid'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. UIN/FIN does not exist in MyInfo.\n\n**MESSAGE:** 'UIN/FIN is invalid.'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "Profile Incomplete. User registered for MyInfo less than 1 working day.\n\n**MESSAGE:** 'Profile Incomplete'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error with request parameters or headers. Error details will be provided in the response body"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "PKISign": []
          }
        ]
      }
    },
    "/gov/v3/authorise": {
      "get": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Authorise",
        "description": "This API triggers SingPass login and obtain consent for the user to retrieve user's data from MyInfo.\nOnce the user has authenticated and consented, an authorisation code (authcode) will be returned together with the state for verification via the callback URL defined.\nThe authcode can then be used to retrieve an access token via the Token API.\n\n**Note:** \n- This API is public and should be implemented as a link or button on your online webpage.\n- For agencies using SingPass OIDC for login, users who have already logged in within the allowed transaction window will be single signed-on.",
        "operationId": "getauthorise",
        "parameters": [
          {
            "in": "query",
            "name": "authmode",
            "description": "Mode of authentication used to obtain user consent. Default is \"SINGPASS\".",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SINGPASS",
                "MOBILEID"
              ],
              "default": "SINGPASS"
            }
          },
          {
            "in": "query",
            "name": "purpose",
            "description": "State the purpose for requesting the data. This will be shown to the user for his consent.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "response_type",
            "description": "Response type for authorisation code flow - must be \"code\".",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "Identifier to reconcile query and response. This will be sent back to you via the callback URL. Use a unique system generated number for each and every call.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "Your callback URL for MyInfo to return with the authorisation code.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string",
              "example": "STG-180099999K-TEST01"
            }
          },
          {
            "in": "query",
            "name": "sp_esvcId",
            "description": "SingPass eService ID that the user is accessing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "authmode",
            "description": "Mode of authentication used to obtain user consent. Default is \"SINGPASS\".",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SINGPASS"
              ],
              "default": "SINGPASS"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Service will redirect all responses to 'redirect_uri' with additional parameters added as response results. Expected parameters include:\n- **code**: this is the authorisation code you will use when calling the token endpoint\n- **state**: this should be the same state passed in your initial URL.\n- **error**: if there are any errors encountered, the error code will be given in this parameter.\n  - **'500'** - Unknown or other server side errors.\n  - **'503'** - MyInfo under maintenance. Error description will also be given in error_description parameter.\n  - **'access_denied'** - When user did not give consent, refer to error_description parameter for the reason.\n  - **'invalid_scope'** - When application requests for scope(s) that is not permitted.\n- **error_description**: \n  - if error is 'access_denied' i.e. user did not give consent, the description will be 'Resource Owner did not authorize the request'.\n  - if error is 'invalid_scope' i.e. scope requested is not allowed, the description will be either 'Invalid realm scope' or 'Invalid client scope'.\n\n**Note:** If user closes the browser window prematurely, there will be no callback to the 'redirect_uri'. Therefore it is important for you to check the 'state' to verify that the transaction is the same."
          }
        },
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "function callAuthoriseApi() {\n  var authoriseUrl = authApiUrl + \"?client_id=\" + clientId +\n    \"&attributes=\" + attributes +\n    \"&sp_esvcId=\" + sp_esvcId +\n    \"&purpose=\" + purpose +\n    \"&state=\" + state +\n    \"&redirect_uri=\" + redirectUrl;\n\n  window.location = authoriseUrl;\n}\n"
          }
        ]
      }
    },
    "/gov/v3/authorise/{uinfin}/": {
      "get": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Authorise",
        "deprecated": true,
        "description": "**NOTE: This API is for full profile retrieval only**\n\nThis API triggers SingPass login and obtain consent for the user to retrieve user's data from MyInfo.\nOnce the user has authenticated and consented, an authorisation code (authcode) will be returned together with the state for verification via the callback URL defined.\nThe authcode can then be used to retrieve an access token via the Token API.\n\n**Note:** This API is public and should be implemented as a link or button on your online webpage.",
        "operationId": "getauthoriseold",
        "parameters": [
          {
            "in": "path",
            "name": "uinfin",
            "description": "UIN/FIN of user",
            "required": true,
            "schema": {
              "type": "string",
              "example": "S9812381D"
            }
          },
          {
            "in": "query",
            "name": "authmode",
            "description": "Mode of authentication used to obtain user consent. Default is \"SINGPASS\".",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SINGPASS",
                "MOBILEID"
              ],
              "default": "SINGPASS"
            }
          },
          {
            "in": "query",
            "name": "purpose",
            "description": "State the purpose for requesting the data. This will be shown to the user for his consent.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "response_type",
            "description": "Response type for authorisation code flow - must be \"code\".",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "Identifier to reconcile query and response. This will be sent back to you via the callback URL. Use a unique system generated number for each and every call.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "Your callback URL for MyInfo to return with the authorisation code.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string",
              "example": "STG-180099999K-TEST01"
            }
          },
          {
            "in": "query",
            "name": "sp_esvcId",
            "description": "SingPass eService ID that the user is accessing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "authmode",
            "description": "Mode of authentication used to obtain user consent. Default is \"SINGPASS\".",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SINGPASS"
              ],
              "default": "SINGPASS"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Service will redirect all responses to 'redirect_uri' with additional parameters added as response results. Expected parameters include:\n- **code**: this is the authorisation code you will use when calling the token endpoint\n- **state**: this should be the same state passed in your initial URL.\n- **error**: if there are any errors encountered, the error code will be given in this parameter.\n  - **'500'** - Unknown or other server side errors.\n  - **'503'** - MyInfo under maintenance. Error description will also be given in error_description parameter.\n  - **'access_denied'** - When user did not give consent, refer to error_description parameter for the reason.\n- **error_description**: if error is 'access_denied' i.e. user did not give consent, the description will be 'Resource Owner did not authorize the request'.\n\n\n**Note:** If user closes the browser window prematurely, there will be no callback to the 'redirect_uri'. Therefore it is important for you to check the 'state' to verify that the transaction is the same."
          }
        },
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "function callAuthoriseApi() {\n  var authoriseUrl = authApiUrl + \"/\" + uinfin + \"/\" + \"?client_id=\" + clientId +\n    \"&attributes=\" + attributes +\n    \"&sp_esvcId=\" + sp_esvcId +\n    \"&purpose=\" + purpose +\n    \"&state=\" + state +\n    \"&redirect_uri=\" + redirectUrl;\n\n  window.location = authoriseUrl;\n}\n"
          }
        ]
      }
    },
    "/gov/v3/token": {
      "post": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Token",
        "description": "This API generates an access token when presented with a valid authcode obtained from the Authorise API. This token can then be used to request for the user's data that were consented.",
        "operationId": "gettoken",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Add authorization token constructed containing the RSA digital signature of the base string. Refer to https://api.singpass.gov.sg/library/myinfo/developers/tutorial3 on how this token should be generated.\n\n**Note:** This header is not required when calling Sandbox API.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returning a JSON object which contains the authorization access token (JWT) that will be used to retrieve the data from MyInfo.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Possible scenarios:\n  - Same authcode in the body is being used. We do not allow same authcode being used in multiple calls. Ensure that authcode is not repeated.\n  - AuthCode error - missing, invalid, expired, revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenError"
                }
              }
            }
          },
          "401": {
            "description": "Possible scenarios:\n  - No security header given (HTTP 'Authorization' header)\n  - Invalid App ID used. Digital service is not registered with MyInfo\n  - The timestamp of server is not synchronised. Check timestamp of server.\n  - The value of the nonce in the authorisation header was deemed to be repeated. Check that the nonce is not re-used\n  - Ensure HTTP 'Authorization' header to be 'PKI_SIGN'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Check response body for actual error.\n\n\n** Signature incorrect - should be caught at AWS and return 401 instead?? **\nPossible scenarios:\n  - Signature incorrect - Verify your signature by using our signature verifier tool and ensure correct key is used to sign the base string.\n    - Ensure that base string contains all parameters required\n    - Ensure that correct key is used to sign the base string\n    - Ensure that HTTP call is made with the same query/body parameters used to formulate the base string.\n  - Ensure there is a slash (/) after UINFIN in the request URL. E.g. `https://api.myinfo.gov.sg/gov/v3/person/S9812381D/`\n  - Attributes should be ordered in lexicographical byte value\n  - Ensure attributes in base string are separate by comma(,), and not %2C\n  - Signature generated is incorrect. Ensure the correct private key used to produce the signature, and base string is UTF-8 encoded.\n  - Ensure UIN/FIN is specified in the Person API URL. E.g. `https://api.myinfo.gov.sg/gov/v3/person/`\n  - Ensure the base string contains the following:\n      1. HTTP GET method(in uppcase)\n      2. API (e.g. https://..)\n      3. These parameters:\n        * app_id\n        * nonce\n        * signature\n        * signature_method\n        * timestamp"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/gettoken"
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "// function to prepare request for TOKEN API\nfunction createTokenRequest(code) {\n  var cacheCtl = \"no-cache\";\n  var contentType = \"application/x-www-form-urlencoded\";\n  var method = \"POST\";\n  var request = null;\n\n  // preparing the request with header and parameters\n  // assemble params for Token API\n  var strParams = \"grant_type=authorization_code\" +\n    \"&code=\" + code +\n    \"&redirect_uri=\" + _redirectUrl +\n    \"&client_id=\" + _clientId +\n    \"&client_secret=\" + _clientSecret;\n  var params = querystring.parse(strParams);\n\n\n  // assemble headers for Token API\n  var strHeaders = \"Content-Type=\" + contentType + \"&Cache-Control=\" + cacheCtl;\n  var headers = querystring.parse(strHeaders);\n\n  // Sign request and add Authorization Headers\n  var authHeaders = generateAuthorizationHeader(\n    _tokenApiUrl,\n    params,\n    method,\n    contentType,\n    _authLevel,\n    _clientId,\n    _privateKeyContent,\n    _clientSecret\n  );\n\n  if (!_.isEmpty(authHeaders)) {\n    _.set(headers, \"Authorization\", authHeaders);\n  }\n\n  var request = restClient.post(_tokenApiUrl);\n\n  // Set headers\n  if (!_.isUndefined(headers) && !_.isEmpty(headers))\n    request.set(headers);\n\n  // Set Params\n  if (!_.isUndefined(params) && !_.isEmpty(params))\n    request.send(params);\n\n  return request;\n}\n"
          }
        ],
        "security": [
          {
            "PKISign": []
          }
        ]
      }
    },
    "/gov/v3/person/{uinfin}/": {
      "get": {
        "tags": [
          "MyInfo"
        ],
        "summary": "Person",
        "description": "This API returns user's data from MyInfo when presented with a valid access token obtained from the Token API.\n\nAgencies are to ensure that session management of their eservice is properly handled, and only provide the NRIC of user who is currently logged on to the \neService when calling the API.\n\nAgencies should also implement control measures to disallow multiple calls to this API for the same user when an existing previous call is has not completed.\n\nIn the event where the API is unavailable, agencies eServices are to provide alternative e.g. manual input, in order for user to continue with the transaction.\n\n\n**Note:** Null value indicates that an attribute is unavailable.",
        "operationId": "getperson",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Add authorization token constructed containing the RSA digital signature of the base string. Refer to https://api.singpass.gov.sg/library/myinfo/developers/tutorial3 on how this token should be generated. Also include the access token (JWT) from /token API in your header prefixed with 'Bearer'.\n\n**Note:** Only the Bearer token is required when calling Sandbox API.",
            "required": true,
            "schema": "string"
          },
          {
            "in": "path",
            "name": "uinfin",
            "description": "UIN/FIN of user",
            "required": true,
            "schema": {
              "type": "string",
              "example": "S9203266C"
            }
          },
          {
            "in": "query",
            "name": "sp_esvcId",
            "description": "SingPass eService ID that the user is accessing.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "txnNo",
            "description": "Transaction ID from requesting digital services for cross referencing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "required": true,
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.\n",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string",
              "example": "STG-180099999K-TEST01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n\n**Note:**\n- Response Content-Encoding will be 'gzip'.\n- Response Content-Type will be 'application/jose', which is a JSON object conforming to the JWE standard (https://tools.ietf.org/html/rfc7516).\n- Response contents are first signed, then encrypted. In order to access the data, your application should do the following steps in order:\n    1. Decrypt the payload with your application's private key.\n    2. Validate the decrypted payload signature with our public key.\n- After doing the above steps, your application will be able to extract the payload in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This could be due to the scenarios below:\n  - No security header given\n  - Invalid App ID used. Digital service is not registered with MyInfo\n  - The timestamp of server is not synchronised. Check timestamp of server\n  - The value of the nonce in the authorisation header was deemed to be repeated. Check that the nonce is not re-used\n  - Ensure header to be prefix with 'PKI_SIGN', else results in 'No security header' error message\n  - The requested UIN/FIN does not match the UIN/FIN of the person who logged in\n  - Request contains attributes not allowable for the digital service.\n\nDetails will be given in the error object returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Possible scenarios:\n\n  - Forbidden. Digital service is not registered with MyInfo.\n  - Request contains attributes not allowable for the digital service.\n  - Requested attributes does not match the attributes consented by person.\n    This happens if the list of attributes in your request are different from the attributes specified when calling the token API.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. UIN/FIN does not exist in MyInfo.\n\n**MESSAGE:** 'UIN/FIN is invalid.'\n\nPossible scenarios:\n  - Wrong Person API URL used. Refer to tutorial for the correct Person API URL(test/production)\n  - UIN/FIN has a SingPass account, but does not have a MyInfo profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error with request parameters or headers. Error details will be provided in the response body.\nPossible scenarios:\n  - Error message: Signature length incorrect. Issue is due to error in digital signature. - Verify your signature by using our signature verifier tool. - Ensure correct key is used to sign the base string.\n  - Ensure there is a slash (/) after UINFIN in the request URL. E.g. `https://api.myinfo.gov.sg/gov/v3/person/S9812381D/`\n  - Attributes should be ordered in lexicographical byte value\n  - Ensure API URL in the base string include '.e' - `https://api.myinfo.gov.sg/com`\n  - Ensure attributes in base string are separate by comma(,), and not %2C\n  - Signature generated is incorrect. Ensure the correct private key used to produce the signature, and base string is UTF-8 encoded.\n  - Ensure UIN/FIN is specified in the Person API URL. E.g. `https://api.myinfo.gov.sg/gov/v3/person/`\n  - Ensure the base string contains the following:\n      1. HTTP GET method(in uppcase)\n      2. API (e.g. https://..)\n      3. These parameters:\n        * app_id\n        * nonce\n        * signature\n        * signature_method\n        * timestamp"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "// function to prepare request for PERSON or PERSON-BASIC API\n// IMPORTANT: validToken is required.\nfunction createPersonRequest(url, uinfin, _sp_esvcId, attributes, validToken) {\n\n  var url = url + \"/\" + uinfin + \"/\";\n  var cacheCtl = \"no-cache\";\n  var method = \"GET\";\n\n  // assemble params for Person API\n  var strParams = \"client_id=\" + _clientId +\n    \"&attributes=\" + attributes +\n    \"&sp_esvcId=\" + _sp_esvcId;\n\n  var params = querystring.parse(strParams);\n\n  // assemble headers for Person API\n  var strHeaders = \"Cache-Control=\" + cacheCtl;\n  var headers = querystring.parse(strHeaders);\n\n  // Add Authorisation headers for connecting to API Gateway\n  var authHeaders = securityHelper.generateAuthorizationHeader(\n    url,\n    params,\n    method,\n    \"\", // no content type needed for GET\n    _authLevel,\n    _clientId,\n    _privateKeyContent,\n    _clientSecret\n  );\n\n  // NOTE: include access token in Authorization header as \"Bearer \" (with space behind)\n  if(!_.isEmpty(validToken)){\n    if(!_.isEmpty(authHeaders)){\n      authHeaders = authHeaders + \",Bearer \" + validToken\n    }\n    else{\n      authHeaders = \"Bearer \" + validToken\n    }\n  }\n\n  if (!_.isEmpty(authHeaders)) {\n    _.set(headers, \"Authorization\", authHeaders);\n  }\n\n  // invoke person API\n  var request = restClient.get(url);\n\n  // Set headers\n  if (!_.isUndefined(headers) && !_.isEmpty(headers))\n    request.set(headers);\n\n  // Set Params\n  if (!_.isUndefined(params) && !_.isEmpty(params))\n    request.query(params);\n\n  return request;\n}\n"
          }
        ],
        "security": [
          {
            "OAuth2": [],
            "PKISign": []
          }
        ]
      }
    }
  },
  "components": {
    "requestBodies": {
      "gettoken": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "The authcode given by the authorise API.",
                  "type": "string"
                },
                "grant_type": {
                  "description": "Grant type for getting token (default \"authorization_code\")",
                  "type": "string",
                  "default": "authorization_code"
                },
                "client_secret": {
                  "description": "Secret key given to your application during onboarding.",
                  "type": "string"
                },
                "client_id": {
                  "description": "Unique ID for your application.",
                  "type": "string"
                },
                "redirect_uri": {
                  "description": "Application's callback URL.",
                  "type": "string"
                },
                "state": {
                  "description": "Identifier that represents the user's session with the client, provided earlier during the authorise API call.",
                  "type": "string"
                }
              },
              "required": [
                "code",
                "client_secret",
                "client_id",
                "redirect_uri"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "PKISign": {
        "type": "http",
        "description": "PKI digital signature for server to server calls. See [Request Signing](#section/Security/Request-Signing) for more details.\n",
        "scheme": "Mutual authentication via PKI digital signature in Authorization header"
      },
      "OAuth2": {
        "description": "The following are the available OAuth2 scopes for MyInfo APIs\n",
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/gov/v3/authorise",
            "tokenUrl": "/gov/v3/token",
            "scopes": {
              "uinfin": "NRIC/FIN",
              "partialuinfin": "Partial NRIC/FIN",
              "name": "Principal Name",
              "aliasname": "Alias Name",
              "hanyupinyinname": "Hanyu Pinyin Name",
              "hanyupinyinaliasname": "Hanyu Pinyin Alias Name",
              "marriedname": "Married Name",
              "sex": "Sex",
              "race": "Race",
              "secondaryrace": "Secondary Race",
              "dialect": "Dialect",
              "dob": "Date of Birth",
              "residentialstatus": "Residential Status",
              "nationality": "Nationality",
              "birthcountry": "Country of Birth",
              "passportnumber": "Passport Number",
              "passportexpirydate": "Passport Expiry Date",
              "passtype": "Pass Type",
              "passstatus": "Pass Status",
              "passexpirydate": "Pass Expiry Date",
              "employmentsector": "Employment Sector",
              "mobileno": "Mobile Number",
              "homeno": "Home Contact Number",
              "email": "Email Address",
              "regadd": "Registered Address",
              "hdbtype": "Type of HDB",
              "housingtype": "Type of Housing",
              "mailadd": "Mailing Address",
              "billadd": "Billing Address",
              "cademicqualifications": "Academic Qualifications",
              "cpfbalances": "CPF Account Balance",
              "cpfcontributions": "CPF Contribution History (up to 15 months)",
              "cpfemployers": "Employers as stated in CPF Contribution History (up to 15 months)",
              "cpfhousingwithdrawal": "CPF Housing Withdrawal",
              "merdekagen": "Merdeka Generation Package",
              "silversupport": "Silver Support Package",
              "gstvoucher": "GST Voucher details",
              "noa-basic": "Notice of Assessment (Basic, Latest Year)",
              "noahistory-basic": "Notice of Assessment (Basic, Last 2 Years)",
              "noa": "Notice of Assessment (Detailed, Latest Year)",
              "noahistory": "Notice of Assessment (Detailed, Last 2 Years)",
              "ownerprivate": "Ownership of Private Residential Property",
              "householdincome": "Monthly Household Income",
              "employment": "Name of Employer",
              "occupation": "Occupation",
              "edulevel": "Highest Education Level",
              "schoolname": "Name of School Attended",
              "gradyear": "Year of Graduation",
              "marital": "Marital Status",
              "marriagedate": "Marriage Date",
              "marriagecertno": "Marriage Certificate Number",
              "countryofmarriage": "Country of Marriage",
              "divorcedate": "Divorce Date",
              "childrenbirthrecords.birthcertno": "Children Birth Records - Birth Cert Number",
              "childrenbirthrecords.name": "Children Birth Records - Name",
              "childrenbirthrecords.aliasname": "Children Birth Records - Alias Name",
              "childrenbirthrecords.hanyupinyinname": "Children Birth Records - Hanyu Pinyin Name",
              "childrenbirthrecords.hanyupinyinaliasname": "Children Birth Records - Hanyu Pinyin Alias Name",
              "childrenbirthrecords.marriedname": "Children Birth Records - Married Name",
              "childrenbirthrecords.sex": "Children Birth Records - Sex",
              "childrenbirthrecords.race": "Children Birth Records - Race",
              "childrenbirthrecords.secondaryrace": "Children Birth Records - Secondary Race",
              "childrenbirthrecords.dob": "Children Birth Records - Date of Birth",
              "childrenbirthrecords.tob": "Children Birth Records - Time of Birth",
              "childrenbirthrecords.dialect": "Children Birth Records - Dialect",
              "childrenbirthrecords.lifestatus": "Children Birth Records - Life Status",
              "sponsoredchildrenrecords.nric": "Sponsored Children Records - NRIC",
              "sponsoredchildrenrecords.name": "Sponsored Children Records - Name",
              "sponsoredchildrenrecords.aliasname": "Sponsored Children Records - Alias Name",
              "sponsoredchildrenrecords.hanyupinyinname": "Sponsored Children Records - Hanyu Pinyin Name",
              "sponsoredchildrenrecords.hanyupinyinaliasname": "Sponsored Children Records - Hanyu Pinyin Alias Name",
              "sponsoredchildrenrecords.marriedname": "Sponsored Children Records - Married Name",
              "sponsoredchildrenrecords.sex": "Sponsored Children Records - Sex",
              "sponsoredchildrenrecords.race": "Sponsored Children Records - Race",
              "sponsoredchildrenrecords.secondaryrace": "Sponsored Children Records - Secondary Race",
              "sponsoredchildrenrecords.dialect": "Sponsored Children Records - Dialect",
              "sponsoredchildrenrecords.dob": "Sponsored Children Records - Date of Birth",
              "sponsoredchildrenrecords.birthcountry": "Sponsored Children Records - Country of Birth",
              "sponsoredchildrenrecords.lifestatus": "Sponsored Children Records - Life Status",
              "sponsoredchildrenrecords.residentialstatus": "Sponsored Children Records - Residential Status",
              "sponsoredchildrenrecords.nationality": "Sponsored Children Records - Nationality",
              "sponsoredchildrenrecords.scprgrantdate": "Sponsored Children Records - SC PR Grant Date",
              "vehicles.vehicleno": "Vehicles - Vehicle Number",
              "vehicles.type": "Vehicles - Vehicle Type",
              "vehicles.iulabelno": "Vehicles - IU Label Number",
              "vehicles.make": "Vehicles - Vehicle Make",
              "vehicles.model": "Vehicles - Vehicle Model",
              "vehicles.chassisno": "Vehicles - Chassis Number",
              "vehicles.engineno": "Vehicles - Engine Number",
              "vehicles.motorno": "Vehicles - Motor Number",
              "vehicles.yearofmanufacture": "Vehicles - Year of Manufacture",
              "vehicles.firstregistrationdate": "Vehicles - First Registration Date",
              "vehicles.originalregistrationdate": "Vehicles - Original Registration Date",
              "vehicles.coecategory": "Vehicles - COE Category",
              "vehicles.coeexpirydate": "Vehicles - COE Expiry Date",
              "vehicles.roadtaxexpirydate": "Vehicles - Road Tax Expiry Date",
              "vehicles.quotapremium": "Vehicles - Quota Premium",
              "vehicles.openmarketvalue": "Vehicles - Open Market Value",
              "vehicles.co2emission": "Vehicles - CO2 Emission Rate",
              "vehicles.status": "Vehicles - Vehicle Status",
              "vehicles.primarycolour": "Vehicles - Primary Colour",
              "vehicles.secondarycolour": "Vehicles - Secondary Colour",
              "vehicles.attachment1": "Vehicles - Attachment 1",
              "vehicles.attachment2": "Vehicles - Attachment 2",
              "vehicles.attachment3": "Vehicles - Attachment 3",
              "vehicles.scheme": "Vehicles - Vehicle Scheme",
              "vehicles.thcemission": "Vehicles - THC Emission Rate",
              "vehicles.coemission": "Vehicles - CO Emission Rate",
              "vehicles.noxemission": "Vehicles - NOx Emission Rate",
              "vehicles.pmemission": "Vehicles - PM Emission Rate",
              "vehicles.enginecapacity": "Vehicles - Engine Capacity",
              "vehicles.powerrate": "Vehicles - Power Rate",
              "vehicles.effectiveownership": "Vehicles - Effective Date/Time of Ownership",
              "vehicles.propellant": "Vehicles - Propellant",
              "vehicles.maximumunladenweight": "Vehicles - Max Unladen Weight",
              "vehicles.maximumladenweight": "Vehicles - Max Laden Weight",
              "vehicles.minimumparfbenefit": "Vehicles - Minimum PARF Benefit",
              "vehicles.nooftransfers": "Vehicles - No. of Transfers",
              "vehicles.vpc": "Vehicles - Vehicle Parking Certificate",
              "drivinglicence.comstatus": "Driving Licence - Certificate of Merit Status",
              "drivinglicence.totaldemeritpoints": "Driving Licence - Total Demerit Points",
              "drivinglicence.suspension.startdate": "Driving Licence - Suspension Start Date",
              "drivinglicence.suspension.enddate": "Driving Licence - Suspension End Date",
              "drivinglicence.disqualification.startdate": "Driving Licence - Disqualification Start Date",
              "drivinglicence.disqualification.enddate": "Driving Licence - Disqualification End Date",
              "drivinglicence.revocation.startdate": "Driving Licence - Revocation Start Date",
              "drivinglicence.revocation.enddate": "Driving Licence - Revocation End Date",
              "drivinglicence.pdl.validity": "Driving Licence - Provisional Driving Licence Validity",
              "drivinglicence.pdl.expirydate": "Driving Licence - Provisional Driving Licence Expiry Date",
              "drivinglicence.pdl.classes": "Driving Licence - Provisional Driving Licence Class",
              "drivinglicence.qdl.validity": "Driving Licence - Qualified Driving Licence Validity",
              "drivinglicence.qdl.expirydate": "Driving Licence - Qualified Driving Licence Expiry Date",
              "drivinglicence.qdl.classes": "Driving Licence - Qualified Driving Licence Class",
              "drivinglicence.photocardserialno": "Driving Licence - Photo Card Serial Number",
              "hdbownership.noofowners": "HDB Ownership - Number of Owners",
              "hdbownership.address": "HDB Ownership - Address",
              "hdbownership.hdbtype": "HDB Ownership - Type of HDB Dwelling",
              "hdbownership.leasecommencementdate": "HDB Ownership - Lease Commencement Date",
              "hdbownership.termoflease": "HDB Ownership - Term of Lease",
              "hdbownership.dateofpurchase": "HDB Ownership - Date of Purchase",
              "hdbownership.dateofownershiptransfer": "HDB Ownership - Date of Transfer of Ownership",
              "hdbownership.loangranted": "HDB Ownership - Loan Granted",
              "hdbownership.originalloanrepayment": "HDB Ownership - Original Loan Repayment Period",
              "hdbownership.balanceloanrepayment": "HDB Ownership - Balance Loan Repayment Period",
              "hdbownership.outstandingloanbalance": "HDB Ownership - Outstanding HDB Loan Balance",
              "hdbownership.monthlyloaninstalment": "HDB Ownership - Monthly Loan Instalment"
            }
          }
        }
      }
    },
    "schemas": {
      "AuthTokenResponse": {
        "description": "Authorisation Token Response JSON",
        "type": "object",
        "properties": {
          "access_token": {
            "title": "JWTAccessToken",
            "description": "Access token to be used in the subsequent resource endpoint call. This is in the form of  JWT (JSON web token). Include this in your header as 'Bearer' when invoking the resource API. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523).\n\n**Note:** This token is returned in the form of a compact serialized string. Decode and verify the signature before use.",
            "type": "object",
            "properties": {
              "tokenName": {
                "type": "string",
                "description": "Name of Token. This will be 'access_token'.",
                "default": "access_token"
              },
              "sub": {
                "type": "string",
                "description": "(subject) This is the identifier of the user who logged in."
              },
              "scope": {
                "type": "array",
                "description": "Scopes allowed. This is the list scopes user has consented to.",
                "items": {
                  "type": "string"
                }
              },
              "nbf": {
                "type": "string",
                "description": "(not before) - the time before which the token MUST NOT be accepted for processing"
              },
              "iss": {
                "type": "string",
                "description": "(issuer) Issuer of the JWT."
              },
              "expires_in": {
                "type": "string",
                "description": "The remaining lifetime of the access token."
              },
              "iat": {
                "type": "string",
                "description": "(issued at) Time which JWT was issued at."
              },
              "exp": {
                "type": "string",
                "description": "(expiration time) time which JWT will expire"
              },
              "realm": {
                "type": "string",
                "description": "Realm for OAuth process."
              },
              "aud": {
                "type": "string",
                "description": "Audience for JWT."
              },
              "jti": {
                "type": "string",
                "description": "(JWT ID) unique identifier for the JWT token."
              },
              "token_type": {
                "type": "string",
                "description": "type of token, which is \"Bearer\".",
                "default": "Bearer"
              },
              "authGrantId": {
                "type": "string",
                "description": "Internal system id for auth grant. Not used."
              },
              "auditTrackingId": {
                "type": "string",
                "description": "Internal Id for audit tracking. not used."
              }
            }
          },
          "token_type": {
            "type": "string",
            "description": "Type of token (Bearer)",
            "default": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Expiry of access token (in seconds)"
          },
          "refresh_token": {
            "type": "string",
            "description": "Refresh token that can be used to exchange for another access token. Only available if client is configured to receive refresh token."
          },
          "scope": {
            "type": "string",
            "description": "Scopes requested, separated by space"
          }
        },
        "required": [
          "access_token",
          "token_type"
        ]
      },
      "JWTAccessToken": {
        "title": "JWTAccessToken",
        "description": "Access token to be used in the subsequent resource endpoint call. This is in the form of  JWT (JSON web token). Include this in your header as 'Bearer' when invoking the resource API. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523).\n\n**Note:** This token is returned in the form of a compact serialized string. Decode and verify the signature before use.",
        "type": "object",
        "properties": {
          "tokenName": {
            "type": "string",
            "description": "Name of Token. This will be 'access_token'.",
            "default": "access_token"
          },
          "sub": {
            "type": "string",
            "description": "(subject) This is the identifier of the user who logged in."
          },
          "scope": {
            "type": "array",
            "description": "Scopes allowed. This is the list scopes user has consented to.",
            "items": {
              "type": "string"
            }
          },
          "nbf": {
            "type": "string",
            "description": "(not before) - the time before which the token MUST NOT be accepted for processing"
          },
          "iss": {
            "type": "string",
            "description": "(issuer) Issuer of the JWT."
          },
          "expires_in": {
            "type": "string",
            "description": "The remaining lifetime of the access token."
          },
          "iat": {
            "type": "string",
            "description": "(issued at) Time which JWT was issued at."
          },
          "exp": {
            "type": "string",
            "description": "(expiration time) time which JWT will expire"
          },
          "realm": {
            "type": "string",
            "description": "Realm for OAuth process."
          },
          "aud": {
            "type": "string",
            "description": "Audience for JWT."
          },
          "jti": {
            "type": "string",
            "description": "(JWT ID) unique identifier for the JWT token."
          },
          "token_type": {
            "type": "string",
            "description": "type of token, which is \"Bearer\".",
            "default": "Bearer"
          },
          "authGrantId": {
            "type": "string",
            "description": "Internal system id for auth grant. Not used."
          },
          "auditTrackingId": {
            "type": "string",
            "description": "Internal Id for audit tracking. not used."
          }
        }
      },
      "Person": {
        "type": "object",
        "description": "Person instance's details (Basic Profile)",
        "allOf": [
          {
            "$ref": "#/components/schemas/PersonCommon"
          },
          {
            "$ref": "#/components/schemas/PersonCommunity"
          },
          {
            "$ref": "#/components/schemas/PersonFinancial"
          }
        ]
      },
      "PersonBasic": {
        "type": "object",
        "description": "Person instance's details (Basic Profile)",
        "allOf": [
          {
            "$ref": "#/components/schemas/PersonCommon"
          },
          {
            "$ref": "#/components/schemas/PersonCommunity"
          }
        ]
      },
      "PersonCommon": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "partialuinfin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/partialuinfin"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "uinfin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/uinfin"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "name": {
            "allOf": [
              {
                "$ref": "#/components/schemas/name"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hanyupinyinname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hanyupinyinname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "aliasname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/aliasname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hanyupinyinaliasname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hanyupinyinaliasname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriedname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriedname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "sex": {
            "allOf": [
              {
                "$ref": "#/components/schemas/sex"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "race": {
            "allOf": [
              {
                "$ref": "#/components/schemas/race"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "secondaryrace": {
            "allOf": [
              {
                "$ref": "#/components/schemas/secondaryrace"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "dialect": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dialect"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "nationality": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nationality"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "dob": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dob"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "birthcountry": {
            "allOf": [
              {
                "$ref": "#/components/schemas/birthcountry"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "residentialstatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/residentialstatus"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passportnumber": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passportnumber"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passportexpirydate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passportexpirydate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "regadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/regadd"
              }
            ]
          },
          "mailadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/mailadd"
              }
            ],
            "deprecated": true
          },
          "billadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/billadd"
              }
            ],
            "deprecated": true
          },
          "housingtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/housingtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hdbtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hdbtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hdbownership": {
            "type": "array",
            "title": "HDBOwnership",
            "description": "HDB Ownership details\n",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/hdbownership"
                },
                {
                  "$ref": "#/components/schemas/DataFieldProperties"
                }
              ]
            }
          },
          "ownerprivate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ownerprivate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "email": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "homeno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/homeno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "mobileno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/mobileno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marital": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marital"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriagecertno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriagecertno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "countryofmarriage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/countryofmarriage"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriagedate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriagedate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "divorcedate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/divorcedate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "childrenbirthrecords": {
            "type": "array",
            "title": "ChildrenBirthRecords",
            "description": "This refers to only local registered birth records(based on ICA’s electronic Birth Certificate Records from 1985 onwards).\n\nThis includes adoption of locally registered child.\n\nFor child below 21, the child’s Birth Cert No, Name, Sex, Race, Dialect, Date of Birth and Time of Birth will be shown.\n\nFor child above 21, only the child’s Birth Cert Number will be shown.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/childrenbirthrecords"
                }
              ]
            }
          },
          "sponsoredchildrenrecords": {
            "type": "array",
            "title": "SponsoredChildrenRecords",
            "description": "Details of children sponsored to be SG/PR\n\nFor child below 21, the child’s Birth Cert No, Name, Sex, Race, Dialect, Date of Birth and Time of Birth will be shown.\n\nFor child above 21, only the child’s last known NRIC will be shown.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/sponsoredchildrenrecords"
                }
              ]
            }
          },
          "edulevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/edulevel"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "gradyear": {
            "allOf": [
              {
                "$ref": "#/components/schemas/gradyear"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "schoolname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/schoolname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "occupation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/occupation"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "employment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/employment"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passstatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passstatus"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passexpirydate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passexpirydate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "employmentsector": {
            "allOf": [
              {
                "$ref": "#/components/schemas/employmentsector"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "householdincome": {
            "allOf": [
              {
                "$ref": "#/components/schemas/householdincome"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "vehicles": {
            "allOf": [
              {
                "$ref": "#/components/schemas/vehicles"
              }
            ]
          },
          "drivinglicence": {
            "allOf": [
              {
                "$ref": "#/components/schemas/drivinglicence"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "academicqualifications": {
            "allOf": [
              {
                "$ref": "#/components/schemas/academicqualifications"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          }
        }
      },
      "PersonCommunity": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "merdekagen": {
            "allOf": [
              {
                "$ref": "#/components/schemas/merdekagen"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "silversupport": {
            "allOf": [
              {
                "$ref": "#/components/schemas/silversupport"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "gstvoucher": {
            "allOf": [
              {
                "$ref": "#/components/schemas/gstvoucher"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          }
        }
      },
      "PersonFinancial": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "noa-basic": {
            "description": "Summary of latest Notice of Assessment within the past three years.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NOABasic"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noa": {
            "description": "Detailed breakdown of latest Notice of Assessment within the past three years.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NOA"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noahistory-basic": {
            "allOf": [
              {
                "$ref": "#/components/schemas/noahistory-basic"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noahistory": {
            "allOf": [
              {
[...]
